
body {margin:0;
background-color:black;}

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 0px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
	font-family: "Lato", sans-serif;
	
  }

div.container {
    width: 100%;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 450px;
    margin: 50px;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}




/* Style the tab */
div.tab {
    overflow: hidden;
    border: 5px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, .85);
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: rgba(0, 0, 0, 0);
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 50px;
    transition: 0.3s;
    font-size: 20px;
	color:white;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #bbb;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: rgba(255, 255, 255, 0.2);
	text-decoration: underline;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

.us-img {
  float: left;
}
.us-img img {
  display: inline-block;
  margin-right:28px;
  width:100%;
  height:auto;
  max-width:450px;
  max-height:450px;
}

.logo-img {

}
.logo-img img {
display: inline-block;
  width:100%;
  height:auto;
  max-width:150px;
  max-height:75px;
}

.contacts-img {
  float: left;
}
.contacts-img img {
  border-radius: 50px;
  display: inline-block;
  margin-right:0px;
  width:100%;
  height:auto;
  max-width:350px;
  max-height:350px;
}

.menubutton {
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    color: rgba(0, 0, 0, 0);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
}

.banner-img {
  float: center;
}
.banner-img img {
  display: inline-block;
  width:100%;
  height:auto;
  max-width:700px;
  max-height:700px;
}
.bigbanner-img {
  float: center;
}
.bigbanner-img img {
  display: inline-block;
  width:100%;
  height:auto;
  max-width:1100px;
  max-height:1100px;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.video-container{

max-width: 1000px;
}